In [7]:
import pandas as pd

data = {
    "Concepto": ["Renta", "Super", "Gasolina", "Super", "Gasolina", "Luz", "Agua", "Renta","Agua"],
    "Monto": [2750, 900, 1200, 1100, 800, 600, 400, 2750,150],
    "Mes": ["Agosto", "Agosto", "Agosto", "Septiembre", "Septiembre", "Agosto", "Septiembre", "Septiembre","Septiembre"]
}

df = pd.DataFrame(data)
print(df)

   Concepto  Monto         Mes
0     Renta   2750      Agosto
1     Super    900      Agosto
2  Gasolina   1200      Agosto
3     Super   1100  Septiembre
4  Gasolina    800  Septiembre
5       Luz    600      Agosto
6      Agua    400  Septiembre
7     Renta   2750  Septiembre
8      Agua    150  Septiembre

In [8]:
total_por_concepto = df.groupby("Concepto")["Monto"].sum()
print(total_por_concepto)

Concepto
Agua         550
Gasolina    2000
Luz          600
Renta       5500
Super       2000
Name: Monto, dtype: int64

In [9]:
promedio_mes = df.groupby("Mes")["Monto"].mean()
print(promedio_mes)

Mes
Agosto        1362.5
Septiembre    1040.0
Name: Monto, dtype: float64

In [10]:
detalle = df.groupby(["Mes", "Concepto"])["Monto"].sum()
print(detalle)

Mes         Concepto
Agosto      Gasolina    1200
            Luz          600
            Renta       2750
            Super        900
Septiembre  Agua         550
            Gasolina     800
            Renta       2750
            Super       1100
Name: Monto, dtype: int64

In [11]:
resumen = df.groupby("Mes")["Monto"].agg(["sum", "mean", "max", "min"])
print(resumen)

             sum    mean   max  min
Mes
Agosto      5450  1362.5  2750  600
Septiembre  5200  1040.0  2750  150

In [12]:
detalle = df.groupby(["Mes", "Concepto"])["Monto"].agg(["sum", "mean", "max", "min"])
print(detalle)

                      sum    mean   max   min
Mes        Concepto
Agosto     Gasolina  1200  1200.0  1200  1200
           Luz        600   600.0   600   600
           Renta     2750  2750.0  2750  2750
           Super      900   900.0   900   900
Septiembre Agua       550   275.0   400   150
           Gasolina   800   800.0   800   800
           Renta     2750  2750.0  2750  2750
           Super     1100  1100.0  1100  1100